
#wrapper{
    width:930px;
    height:420px;
	text-align:left;
    margin: auto ;
	
    padding:40px 0px 0px 8px;
	border:none;
	display:block;
	
}


#bigPic{
	width:930px;
	height:420px;
	padding:0px;
	display:block;
	border: 7px solid #fff;
	
	
}
#bigPic img{
	position:relative;
	display:none;
	
}
